# Build time environment variable example

WSS_SERVER=wss://example.com:5063
MY_SIP_URI=sip:1001@example.com
USERNAME=1991
SECERT=1234
JITSI_SIP_URI=sip:jitsi-meet@node1
ASTERISK_SIP_URI=sip:ast@node1
DID_SIP_URI=sip:17853178070@example.com
